{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <section>
        <div class="create__container">
            <input type="text" class="create__input" placeholder="Напишите сюда новую задачу">
            <button class="create__btn">Добавить</button>
        </div>
        <div class="todo__container">
            <div class="todo__item">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
            <div class="todo__item marked">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star_yellow.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
            <div class="todo__item done">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
            <div class="todo__item marked">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star_yellow.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
            <div class="todo__item">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox"">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
            <div class="todo__item done">
                <div class="todo__item_header">
                    <label class="checkbox__container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo__item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action__buttons">
                        <img src="./img/star_yellow.png" alt="star">
                        <img src="./img/trash_bin.svg" alt="trash_bin">
                    </div>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>